footer {
    background: $black;
    padding: 3rem .75rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .footer--nav {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 3rem;

        .footer--nav--container {
            width: 100%;
            display: flex;
            gap: 1rem;

            .footer--nav--ul--resources {
                margin-left: 2.5rem;
            }
        }

        .footer--nav--ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .footer--nav--ul--heading {
                color: #fff;
                padding-bottom: 1rem;
                font-size: 1.5rem;
            }

            .footer--nav--ul--subheading {
                color: #fff;
                padding-top: 1rem;
            }

            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .footer--copyright--container {
        color: #fff;
        font-size: 1.25rem;

        .footer--copyright--logo {
            width: 2.25rem;
            height: 2.25rem;
        }
    }
}

@media screen and (min-width: 768px) {
    footer {
        padding: 3rem 1.5rem;
        flex-direction: row;
        align-items: flex-end;

        .footer--nav {
            .footer--nav--container {
                gap: 2rem;
                width: unset;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    footer {
        justify-content: space-between;
        padding: 3rem 5rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;

        .footer--nav {
            .footer--nav--container {
                .footer--nav--ul--resources {
                    margin-left: unset;
                }
            }

            .footer--nav--ul {
                a:hover {
                    text-decoration: underline;
                }
            }
        }

        .footer--copyright--container {
            align-self: flex-end;
        }
    }
}