header {
    background: $black;
    color: $white;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 .5rem;
    position: relative;

    .header--logo--title--container {
        display: flex;
        align-items: center;
        gap: .25rem;

        .header--logo {
            width: 126px;
            height: 32px;
        }

        span {
            font-size: 1.5rem;
        }

        .header--title {
            font-weight: 400;
            font-size: 1.5rem;
        }
    }

    .mobile--buttons--container {
        display: flex;
        gap: .25rem;
    }

    .mobile--menu--navigation, .mobile--menu--search {
        border: none;
        background: none;;
        
        &.mobile--menu--navigation {
            img {
                width: 24px;
                height: 22px;
            }
        }

        &.mobile--menu--search {

            img {
                width: 28px;
                height: 26px;
            }
        }
    }

    .nav--buttons {
        display: none;

        &.show {
            position: absolute;
            top: 5.25rem;
            left: 0;
            width: 100%;
            background: $black;
            border-top: 1px solid $gray;
            padding: 3rem 0;
            display: flex;
            gap: 1rem;
            flex-direction: column;
            align-items: center;

            button {
                border: none;
                background: none;
                color: #fff;
                font-family: inherit;
                font-size: 1.5rem;
                font-weight: 500;

                &:nth-child(1) {
                    padding-bottom: 1rem;
                    border-bottom: 1px solid $gray;
                }
            }
        }
    }


}