header {
    background: $black;
    color: $white;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 .5rem;
    position: relative;

    @keyframes width {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }

    .header--logo--title--container {
        display: flex;
        align-items: center;
        gap: .25rem;

        .header--logo {
            display: grid;
            place-content: center;
            width: 126px;
            height: 32px;
        }

        span {
            font-size: 1.5rem;
        }

        .header--title {
            font-weight: 400;
            font-size: 1.5rem;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .mobile--buttons--container {
        display: flex;
        gap: .25rem;
    }

    .mobile--menu--navigation, .mobile--menu--search {
        border: none;
        background: none;;
        
        &.mobile--menu--navigation {
            img {
                width: 24px;
                height: 22px;
            }
        }

        &.mobile--menu--search {
            img {
                width: 28px;
                height: 26px;
            }
        }
    }

    .nav--buttons {
        display: none;
        animation: width 0.2s;

        &.show {
            position: absolute;
            top: 5.25rem;
            left: 0;
            width: 100%;
            background: $black;
            border-top: 1px solid $gray;
            padding: 3rem 0;
            display: flex;
            gap: 1rem;
            flex-direction: column;
            align-items: center;

            button {
                border: none;
                background: none;
                color: #fff;
                font-family: inherit;
                font-size: 1.5rem;
                font-weight: 500;

                a {
                    color: $white;
                    text-decoration: none;
                }

                &:nth-child(1) {
                    padding-bottom: 1rem;
                    border-bottom: 1px solid $gray;

                }
            }
        }
    }

    .header--search--form {
        background: #fff;
        z-index: 99;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
        animation: width 0.2s;

        &.show {
            display: flex;
        }

        .header--search--form--input {
            height: 80%;
            width: 80%;
            padding: 0 .5rem;

            &::-webkit-search-cancel-button, &::-webkit-search-decoration, &::-webkit-search-results-button, &::-webkit-search-results-decoration {
                display: none;
            }

            &::placeholder {
                font-size: 1.25rem;
                font-family: Open Sans, sans-serif;
            }
        }

        .header--search--form--close {
            border: none;
            background: none;
            width: 1rem;
            height: 1rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: 0 3rem;

        .header--logo--title--container {
            .header--logo {
                &:hover {
                    opacity: .8;
                    transition: .2s;
                }
            }

            .header--title {
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        .mobile--menu--navigation, .mobile--menu--search {
            display: none;
        }

        .nav--buttons {
            display: flex;
            gap: 1rem;

            .header--nav--button--request, .header--nav--button--sign-in {
                font-family: inherit;
                cursor: pointer;
                
                a {
                    text-decoration: none;
                    color: $white;
                }
            }

            .header--nav--button--request {
                background: #191a1b;
                color: #fff;
                border: 1px solid #fff;
                border-radius: .25rem;
                padding: .5rem 1.5rem;
                font-size: 1.35rem;

            }

            .header--nav--button--sign-in {
                background: $purple;
                color: #fff;
                border: none;
                border-radius: .25rem;
                padding: .5rem 1.5rem;
                font-size: 1.35rem;
                
                &:hover {

                    a {
                        color: $black;
                    }
                    
                    background: $white;
                    transition: .2s;
                }
            }
        }
    }
}