@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Open Sans, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background: #000000;
  color: #fff;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 .5rem;
  position: relative;
}

header .header--logo--title--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .25rem;
}

header .header--logo--title--container .header--logo {
  width: 126px;
  height: 32px;
}

header .header--logo--title--container span {
  font-size: 1.5rem;
}

header .header--logo--title--container .header--title {
  font-weight: 400;
  font-size: 1.5rem;
}

header .mobile--buttons--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .25rem;
}

header .mobile--menu--navigation, header .mobile--menu--search {
  border: none;
  background: none;
}

header .mobile--menu--navigation.mobile--menu--navigation img, header .mobile--menu--search.mobile--menu--navigation img {
  width: 24px;
  height: 22px;
}

header .mobile--menu--navigation.mobile--menu--search img, header .mobile--menu--search.mobile--menu--search img {
  width: 28px;
  height: 26px;
}

header .nav--buttons {
  display: none;
}

header .nav--buttons.show {
  position: absolute;
  top: 5.25rem;
  left: 0;
  width: 100%;
  background: #000000;
  border-top: 1px solid #dadbf1;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav--buttons.show button {
  border: none;
  background: none;
  color: #fff;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 500;
}

header .nav--buttons.show button:nth-child(1) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #dadbf1;
}

header .header--search--form {
  background: #fff;
  z-index: 99;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

header .header--search--form .header--search--form--input {
  height: 80%;
  width: 80%;
  padding: 0 .5rem;
}

header .header--search--form .header--search--form--input::-webkit-input-placeholder {
  font-size: 1.25rem;
  font-family: Open Sans, sans-serif;
}

header .header--search--form .header--search--form--input:-ms-input-placeholder {
  font-size: 1.25rem;
  font-family: Open Sans, sans-serif;
}

header .header--search--form .header--search--form--input::-ms-input-placeholder {
  font-size: 1.25rem;
  font-family: Open Sans, sans-serif;
}

header .header--search--form .header--search--form--input::placeholder {
  font-size: 1.25rem;
  font-family: Open Sans, sans-serif;
}

header .header--search--form .header--search--form--close {
  border: none;
  background: none;
  width: 1rem;
  height: 1rem;
}
/*# sourceMappingURL=general.css.map */